# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science.
* List commonly used libraries for Data Science.
* List Data science tools
* Evaluate arithmetic expressions in Python

Some of the common languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Julia

Some of the commonly used libraries by Data Scientists are:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-Learn

|Data Science Tools|
| ---------------- |
| Apache Spark |
| Apachae Hadoop |
| Countly |
| MongoDB |

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [16]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Matt Estes